<a href="https://colab.research.google.com/github/Varunkalra18/java-project-/blob/master/Refer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = [['T001', 'Anuj Mehta', 4, 1335],
        ['T002', 'Varun Kalra', 9, 1223],
        ['T003', 'Gagan Kalra', 8, 1255]]
booking = pd.DataFrame(data, columns=['Tcode', 'Name', 'Tickets', 'Amount'])
print(booking.to_string(index=False))

Tcode         Name  Tickets  Amount
 T001   Anuj Mehta        4    1335
 T002  Varun Kalra        9    1223
 T003  Gagan Kalra        8    1255

In [ ]:
data = [['Sofa', 'Wooden', 'Maroon', 25000],
        ['Dining', 'Wooden', 'Red', 25000],
        ['Bed', 'Wooden', 'Maroon', 25000],
        ['TV Unit', 'Wooden', 'Blue', 25000]]

   Thing    Type   Color  Price
    Sofa  Wooden  Maroon  25000
  Dining  Wooden     Red  25000
     Bed  Wooden  Maroon  25000
 TV Unit  Wooden    Blue  25000

In [ ]:
print(furniture[furniture['Thing'] == 'Sofa'], 'n', furniture[furniture['Thing'] == 'Dining'] )

  Thing    Type   Color  Price
0  Sofa  Wooden  Maroon  25000 n     Thing    Type Color  Price
1  Dining  Wooden   Red  25000

In [ ]:
data = {
        'Houses':['Blue House', 'Red House', 'Green House', 'Yellow House'],
        'Activity1':[91,20,24,25],
        'Activity2':[91,20,24,25],
        'Activity3':[91,20,24,25],
        }
furniture = pd.DataFrame(data)
print(furniture.to_string(index=False))

       Houses  Activity1  Activity2  Activity3
   Blue House         91         91         91
    Red House         20         20         20
  Green House         24         24         24
 Yellow House         25         25         25

In [ ]:
re={'Term1':200, 'Term2':189}
ge={'Term1':149, 'Term2':125}
de={'Term1':149, 'Term2':124}
se={'Term1':149, 'Term2':125}
c={'Red':re, 'Green':ge, 'Blue': de, 'Yellow':se}
dis = pd.DataFrame(c)
print(dis)

       Red  Green  Blue  Yellow
Term1  200    149   149     149
Term2  189    125   124     125

In [ ]:
brics = pd.read_csv('brics.csv', index_col=0)
brics

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [ ]:
brics.describe()

        population          area
count     5.000000  5.000000e+00
mean    601.600000  7.943919e+06
std     644.806405  6.199591e+06
min      55.000000  1.221037e+06
25%     144.000000  3.287590e+06
50%     200.000000  8.515767e+06
75%    1252.000000  9.596961e+06
max    1357.000000  1.709824e+07

In [ ]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
brics.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
for i in range(len(brics["country"])):
  brics["on-Earth"] = True
brics

         country  population      area    capital  on-Earth
BR        Brazil         200   8515767   Brasilia      True
RU        Russia         144  17098242     Moscow      True
IN         India        1252   3287590  New Delhi      True
CH         China        1357   9596961    Beijing      True
SA  South Africa          55   1221037   Pretoria      True

In [ ]:
brics["density"] = brics.population / brics.area * 1000000
brics

         country  population      area    capital  on-Earth     density
BR        Brazil         200   8515767   Brasilia      True   23.485847
RU        Russia         144  17098242     Moscow      True    8.421918
IN         India        1252   3287590  New Delhi      True  380.826076
CH         China        1357   9596961    Beijing      True  141.398928
SA  South Africa          55   1221037   Pretoria      True   45.043680

In [ ]:
s = pd.Series(brics["density"], dtype='int32')
pd.to_numeric(s)

BR     23
RU      8
IN    380
CH    141
SA     45
Name: density, dtype: int32

In [ ]:
brics.loc['BR']

country         Brazil
population         200
area           8515767
capital       Brasilia
on-Earth          True
density        23.4858
Name: BR, dtype: object

In [ ]:
brics.iloc[1:3]

   country  population      area    capital  on-Earth     density
RU  Russia         144  17098242     Moscow      True    8.421918
IN   India        1252   3287590  New Delhi      True  380.826076

In [ ]:
brics.iloc[1:3,2:4]

        area    capital
RU  17098242     Moscow
IN   3287590  New Delhi

In [ ]:
brics["capital"].loc["CH"]

'Beijing'

In [ ]:
brics.loc["CH"]["capital"]

'Beijing'

In [ ]:
census = pd.read_csv("census.csv", index_col=0)
census

FileNotFoundError: ignored